/*   MAIN   */
body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #40514E; 
}
hr {
  width: 4%;
  border-width: 5px 0 0 0;
  border-style: dotted;
  border-color: #EC8F6A;
  margin-bottom: 40px;
  margin-top: 30px;
}
.top-container {
  position: relative;
  padding-top: 100px;
  background-color: #F2E3C9;
}
      /* TOP CONTAINER */
      .bottom-cloud {
      position: absolute;
      left: 300px;
      bottom: 300px;
      }
      .top-cloud {
      position: absolute;
      right: 300px;
      top: 50px;
      }
      .web {
      text-decoration: underline;
      }

.middle-container {
  padding: 50px 0;
}
.bottom-container {
  padding: 30px 0 30px 0;
  background-color: #F2E3C9;
}




/*  HEADINGS  */
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Parisienne', cursive;
  font-size: 5rem; /* 16px = 100% = 1em */
  color: #EF4B4B;
  line-height: 2;
}
h2 {
  font-size: 1.6rem;
  color: #EC8F6A;
  font-weight: normal;
}

h3 {
  font-size: 1.4rem;
  color: #7ECFC0;
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
}




/*  PROFILE DIV  */
.info {
  padding: 30px 0;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
}
.profile-pic {
  width: 20%;
}


/*  LANGUAGES AND CODING DIVS  */
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  margin-top: 60px;
  margin-bottom: 90px;
}
.coding {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.language {
  width: 25%;
  float: left;
  margin-right: 30px;
}



/* CONTACT ME DIV */
a {
  color: #7ECFC0;
}
.footer-link {
  font-size: 1rem;
  text-decoration: none;
  padding: 1em;
  font-weight: bold;
}
a:hover {
  color: #EF4B4B;
}
.credits {
  text-decoration: none;
  font-size: .9rem;
  color: black;
}
.contact-me {
  margin-top: 50px;
}
.interested {
  padding: 10px 0 10px 0;
}
.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
  box-shadow: 0 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #EC8F6A;;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background: #ef4b4b;
  background-image: -webkit-linear-gradient(top, #ef4b4b, #ec8f6a);
  background-image: -moz-linear-gradient(top, #ef4b4b, #ec8f6a);
  background-image: -ms-linear-gradient(top, #ef4b4b, #ec8f6a);
  background-image: -o-linear-gradient(top, #ef4b4b, #ec8f6a);
  background-image: linear-gradient(to bottom, #ef4b4b, #ec8f6a);
  text-decoration: none;
}
